<div class="project-container">
  <div class="project-header">
    <h2>Projects</h2>

<!--    dropdown here-->
  </div>

  <div class="project-titles">
    <ul class="list-item">
      <li>Project Description</li>
      <li>Deadline</li>
      <li>Budget</li>
      <li>Bidders</li>
      <li>Status</li>
      <li>-</li>
    </ul>
  </div>

  <div class="project-items">
    <ul class="project-items__ul">
      <li *ngFor="let project of list" class="project-items__list">

        <ul class="list-item list-item-projects desktop">
          <li>{{ project.descriptions }}</li>
          <li>{{ project.deadline }}</li>
          <li>{{ project.budget }}</li>
          <li><span class="bidders" style="margin-left: 1px"> {{ project.bidders }}</span></li>
          <li ngClass="{{'status-' + project.status}}"><span class="status">{{ getStatus(project.status) }} {{project.status}}</span></li>
          <li class="button-container">
            <button aria-label="delete">
              <img src="./assets/images/projects/trash.png" alt=""/>
            </button>
            <button (click)="goToProjectDetails()" aria-label="visible">
              <img src="./assets/images/projects/eye.png" alt=""/>
            </button>
          </li>
        </ul>

        <ul class="list-item-projects-mobile mobile">

              <li>
                <h3>
                  {{ project.descriptions }}
                </h3>

                <div class="mobile-container">
                  <div class="mobile-desc">
                    <p><span>Deadline:</span> {{ project.deadline }}</p>
                    <p><span>Budget:</span> {{ project.budget }}</p>
                    <p><span>Bidders:</span> {{ project.bidders }}</p>
                  </div>

                  <div class="cta-container">
                    <span ngClass="{{'status-' + project.status}}" class="status-wrapper">
                      <span class="status">{{ getStatus(project.status) }}</span>
                    </span>
                    <div class="btn-container">
                      <button aria-label="delete">
                        <img src="./assets/images/projects/trash.png" alt=""/>
                      </button>
                      <button (click)="goToProjectDetails()" aria-label="visible">
                        <img src="./assets/images/projects/eye.png" alt=""/>
                      </button>
                    </div>

                  </div>

                </div>
              </li>
        </ul>
      </li>

    </ul>
  </div>

</div>
