<p style="position: fixed; right: 50px; color: red; top: 50px">here: {{ sideBarState }}</p>

<nav class="navigation" [@animateSideMenu]="sideBarState ? 'scrollLeft' : 'scrollRight'">
  <div class="first-section">
    <div class="logo">
      <img src="../../../../../assets/images/logo.png" alt=""/>
    </div>
    <div class="menu-item">
      <ul>
        <li class="menu-item__list">
          <a href="" routerLink="projects" routerLinkActive="menu-item__list__active" [routerLinkActiveOptions]="{exact:true}" class="nav-btn">
            <i class="material-icons">format_list_bulleted</i> My Projects (20)
          </a>
        </li>
        <li class="menu-item__list">
          <a href="" routerLink="merchants" routerLinkActive="menu-item__list__active" class="nav-btn">
            <i class="material-icons">commute</i> Merchant List
          </a>
        </li>
        <li class="menu-item__list">
          <a href="" routerLink="messages" routerLinkActive="menu-item__list__active" class="nav-btn">
            <i class="material-icons">message</i> Messages
          </a>
        </li>
        <li class="menu-item__list">
          <a href="" routerLink="projects/create-project" routerLinkActive="menu-item__list__active" class="nav-btn">
            <i class="material-icons">add_box</i> New Project
          </a>
        </li>
        <li class="menu-item__list">
          <a href="" routerLink="questionandanswer" routerLinkActive="menu-item__list__active" class="nav-btn">
            <i class="material-icons">question_answer</i> Q&A
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="second-section">
    <div class="profile-container">
      <p class="profile-text">PROFILE</p>
      <div class="image-container">
        <div>
          <img src="../../../../../assets/images/profile.png" alt=""/>
        </div>
        <div class="profile-info">
          <p>{{ userDetails.firstName }} {{ userDetails.lastName }}</p>
          <p>{{ userDetails.userType }}</p>
        </div>
      </div>
    </div>
    <div class="logout-container">
      <button (click)="onLogout()">
        <i class="material-icons">logout</i>
        Logout
      </button>
    </div>
  </div>
</nav>
