<nav class="navigation" *ngIf="isUserLoggedIn">
  <div class="logo">
    <img src="./assets/images/logo.png" alt=""/>
  </div>
  <ul>
    <li class="navigation__list">
      <a href="" routerLink="projects" routerLinkActive="navigation__list__active" class="nav-btn">
        <i class="material-icons">format_list_bulleted</i> My Projects (20)
      </a>
    </li>
    <li class="navigation__list">
      <a href="" routerLink="merchants" routerLinkActive="navigation__list__active" class="nav-btn">
        <i class="material-icons">commute</i> Merchant List
      </a>
    </li>
    <li class="navigation__list">
      <a href="" routerLink="reservations" routerLinkActive="navigation__list__active" class="nav-btn">
        <i class="material-icons">message</i> My messages
      </a>
    </li>
    <li class="navigation__list">
      <a href="" routerLink="reservations" routerLinkActive="navigation__list__active" class="nav-btn">
        <i class="material-icons">add_box</i> New Project
      </a>
    </li>
  </ul>
  <div class="profile-container">
    <p class="profile-text">PROFILE</p>
    <div class="image-container">
      <div>
        <img src="./assets/images/profile.png" alt=""/>
      </div>
      <div class="profile-info">
        <p>{{ userDetails.firstName }} {{ userDetails.lastName }}</p>
        <p>{{ userDetails.userType }}</p>
      </div>
    </div>
  </div>
  <div class="logout-container">
    <button (click)="onLogout()">
      <i class="material-icons">logout</i>
      Logout
    </button>
  </div>
</nav>



