
<div class="merchant">
  <h2>List of merchants</h2>
  <ul>
    <li *ngFor="let merchant of merchants">
      <div class="square">
      <img src="./assets/images/profile.png" alt=""/>

      <div class="title"><h5 class="tag">{{merchant.tag}}</h5></div>
      <p class="name">Name:{{merchant.title}}</p>
      <p class="address">Address:{{merchant.address}}</p>
      <p class="phone">Phone:{{merchant.telephone}}</p>
      <p class="website">Website:{{merchant.website}}</p>
      <button class="show-more-button">
        <span class="button-text">Show more</span>
        <span class="plus">+</span>
      </button>
    </div>
    </li>
  </ul>
</div>

