<header *ngIf="isUserLoggedIn">

  <div class="header-container">
    <div class="header-info">
      <h2>Welcome <span>put header here</span></h2>
      <p>We wish you a  nice time in MauriQuote !</p>
    </div>
    <div class="header-icons">
      <ul>
        <li>
          <button>
            <img src="./assets/images/header/chat.png" alt=""/>
          </button>
        </li>
        <li>
          <button>
            <img src="./assets/images/header/notification.png" alt=""/>
          </button>
        </li>
        <li>
          <button>
            <img src="./assets/images/header/settings.png" alt=""/>
          </button>
        </li>
      </ul>
    </div>
  </div>


</header>
